* {
  margin: 0;
}

.container {
  height: 100vh;
  padding: 20px;
  background-color: rgb(22, 22, 22);

  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: repeat(5, 100px);
  grid-gap:  20px;
  grid-template-areas: "o o o o o o o"
                       "s s m m m m m"
                       "a a m m m m m"
                       "t t t t t t t";
  justify-content: center ;

}

header.one {
  grid-area: o;
}

header.two {
  grid-area: t;
}

section {
  grid-area: s;
}

aside {
  grid-area: a;
}

main {
  grid-area: m;
}

.s {
  padding: 20px;
  text-align: center;
  background: gainsboro;
  color: black;
  font-weight: bold;
}