* {
  margin: 0;
  padding: 0;
  border-box: box-sizing;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background: rgb(16,16,16);
  height: 100vh;
  color: white;
}

.heading {
  font-size: 10rem;
  font-weight: 900;
  background: url(leaf.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; 
}