/*Variabled */
:root {
  --primary-color: teal; /* Variable name starts with -- */
  --font-size: 4rem;
}

h1 {
  color: var(--primary-color);
}

h2 {
  font-size: var(--font-size);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: lightblue;
  margin: 0;
}

.btn {
  background: transparent;
  background: rgb(25, 79, 30);
  border: none;
  margin: 10px; 
  padding: 1em 2em;
  color: lightgreen;
  cursor: pointer;
}

.btn-secondary {
  background: green;
}