* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(16, 16, 16);
}

/* NAV START */

nav {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.pfp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.logo {
  height: 80px;
  width: 140px;
  margin-left: 20px;
  transform: translateX(-120px);
  color: white;
}

.fa-grip-lines {
  color: white;
  margin-left: 20px;
  transform: translateX(-30px);
}

.search {
  width: 500px;
  height: 35px;
  background: rgb(63, 63, 63);
  border-radius: 25px;
  border: 2px rgb(122, 122, 122) solid;
}

.fa-microphone {
  color: white;
  transform: translateX(-30px);
}

.fa-plus {
  color: white;
  transform: translateX(80px); 
}

.create {
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.fa-bell {
  color: white;
  transform: translateX(30px); 
}

/* NAV END */

/* HEADER START */

header {
  height: 100vh;
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 1px rgb(64, 64, 64) solid;
  transform: translateX(-30px)
}

.top, .middle, .bottom {
  height: 2000px;
  width: 260px;
  border-bottom: 1px rgb(66, 66, 66) solid;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px;
  height:857px;
  width: 1240px;
  transform: translateX(-30px)
}

.vids {
  height: 360px;
  width: 410px; 
  display: flex;
  flex-direction: column;
}

.img-container {
  height: 360px;
  width: 410px;
}

.img-1 {
  background: url(Pictures/vid1.jpg);
  height: 250px;
  width: 410px;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
} 

.img-2 {
  background: url(Pictures/vid2.jpg);
  height: 250px;
  width: 410px;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}
.img-3 {
  background: url(Pictures/vid3.jpg);
  height: 250px;
  width: 410px;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}
.img-4 {
  background: url(Pictures/vid4.jpg);
  height: 250px;
  width: 410px;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}
.img-5 {
  background: url(Pictures/vid5.jpg);
  height: 250px;
  width: 410px;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}
.img-6 {
  background: url(Pictures/vid6.jpg);
  height: 250px;
  width: 410px;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
}

.title {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: white;
  font-size: 25px;
}

.channel {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(70, 70, 70);
  font-size: 15px;
}

.stats {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(58, 57, 57);
  font-size: 15   px;
}

.channel-logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  transform: translateY(-30px);
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container {
  padding-right: 10px;
}