body {
  background: rgb(16,16,16);
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1,
h2,
h3,
a,
li,
label,
span,
p{
  color: white;
}

button {
  padding: 10px 15px;
  margin: 1rem;
  background: rgba(41,43,43,1);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: rgba(51,54,54,1);
}

button:active {
  background: rgba(67,71,71,1);
}

input {
  padding: 10px 15px;
  margin: 1rem;
  background: rgba(41,43,43,1);
  color: white;
  font-size: 1rem;
  font-weight: bold;
}