@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #37132d;
  --main-font: "Playfair Display", serif;
  --primary-font: "Roboto", sans-serif;
}

/* Nav  Start */

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

ul li {
  list-style: none;
  display: inline;
}

ul li a {
  text-decoration: none;
  margin: 10px;
  color: black;
  font-family: var(--primary-font);
}

/* Nav End */

/* Section one Start */

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.header-heading {
  font-size: 4rem;
  font-family: var(--main-font);
}

.header-subheadings {
  width: 70%;
  font-family: var(--primary-font);
  color: rgb(82,82,82);
  margin: 20px 0px;
}

.header-img-container {
  width: 30%;
  height: 50vh;
  position: relative;
}

.header-img {
  width: 200px;
  height: 300px;
}

.img-one {
  position: absolute;
  left: 10rem;
}

.img-two {
  position: absolute;
  left: 3rem; 
  top: 8rem;
}

.main-btn {
  padding: 10px 20px;
  text-decoration: none;
  background: var(--main-color);
  color: white;
  font-family: var(--primary-font);
}

/* Sectione One End */ 

/* Experience Start */

.experience {
  height: 90vh;
  margin-left: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.experience-img {
  background: url(Images/barber-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 500px;
  height: 350px;
  margin-left: 50px;
}

.gray-heading {
  color: gray;
  font-family: var(--main-font);
}

.btn-container {
  margin-top: 30px;
}

/* Experience End */

/* Social Media Start */

.social-media {
  margin: 5rem;
}

.sm-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10rem;
}

.follow {
  padding: 20px;
  background: var(--main-color);
  color: white;
  font-family: var(--primary-font);
  font-weight: bold;
  margin: 3rem;
  text-align: center;
}

/* Social Media End */   

/* Hero Section Start */

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hero-img-container {
  background: url(Images/hero.jpg);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 400px;
}

.hero-subheadings {
  width: 400px;
}

.hero-content {
  margin-left: 6rem;
}

/* Hero Section End */

/* Services Start */

.services {
  margin-top: 10rem;
}

.services-g-heading {
  margin-left: 5rem;
}

.services-heading {
  margin-left: 5rem;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} 

.card {
  width: 300px;
  height: 400px;
  position: relative;
  box-shadow: 1px 1px 1px 1px rgb(223, 223, 223);
  margin: 20px;
}

.card-img {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-size: cover;
  background-position: center;
}

.img-one {
  background-image: url(Images/img1.jpg);
}

.img-two {
  background-image: url(Images/img2.jpg);
}

.img-three {
  background-image: url(Images/img3.jpg);
}

.card-content {
  transform: translateY(200px);
  text-align: center;
  margin: 10px;
}

.card-title {
  font-family: var(--main-font);
  font-weight: normal;
  margin-bottom: 20px;
  color: black;
}

.card-info {
  font-family: var(--primary-font);
  text-align: center;
  color: rgb(109,109,109);
  margin: 30px 40px;
}

/* Services End */

/* Footer Start */

.footer {
  background: var(--main-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  color: white;
  height: 50vh;
  margin-top: 10rem;
}

.footer-card-title {
  font-family: var(--main-font);
}

.footer-card-info {
  font-family: var(--primary-font);
  line-height: 2rem;
}

/* Responsiveness */

@media only screen and (max-width: 600px) {
  .header-content {
    align-items: center;
    text-align: center;
    width: 70%;
  }

  .header-img-container {
    display: none;
  }

  .experience {
    height: 100vh;
    margin: 0 auto;
    text-align: center;
  }

  .experience-subheadings {
    margin: 0 auto;
  }

  .experience-img {
    margin: 0 auto;
  }

  .btn-container {
    margin-top: 30px;
    margin-bottom: 3.5rem;
  }

  .follow {
    display: none;
  }
  
  .hero-img-container {
    margin: 0 auto;
  }

  .hero-headings{
    margin-top: 3rem;
  }

  .services-heading {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3rem;
  }


}