/*
span {
  background-color: lightgreen;
  height: 100px;
  width: 100px;
}
Span does not accept height and width it just takes the space of its contents
*/
div.idk {
  background-color: green;
  height: 100px;
  /*display: inline;  now it acvts as inline and only takes content space */
}

span {
  background-color: lightgreen;
  height: 100px;
  width: 100px;
  display: inline-block;
  /*display: block  - to change inline elements into block */
}

.fa-cloud {
  color: skyblue;
}

/* Shadows 
    x,y,blurness,color
*/

div.heavy {
  width: 200px;
  height: 200px;
  background: rgb(80, 80, 178);
  box-shadow: 10px 10px 20px blue;
}

h1 {
  font-size: 5rem;
  text-shadow: 2px 2px 2px rgb(28, 120, 75);
}

.parent {
  color: orange;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
  width: 100px;
  height: 100px;
  background-color: teal;
}

.child {
  position: relative;
  left: 100px;
  background-color: inherit;
}

.container {
  background: gray;
  height: 500px;
  width: 90%;
}

.d {
  height: 100px;
  width: 100px;
}

/*position relative wont leave itsw original space its relative to that position */
.one {
  background: red;
  position: relative;
  left: 100px;
}

/* positionh absolute will leave its place */
.two {
  background: blue;
  position: absolute;
  left: 800px; /*Relative to the page */
  top: 800px;
}

.three {
  background: green;
  position: fixed; /*Its relative to the window and stays at the same position eeven if yoou scroll*/
}

.four {
  background-color: teal;
  position: sticky;
  top: 100px;
}
